extends layout

block content 
  h1 Beer SKU Detail: #{beersku._id}
  p #[strong Beer: ] 
    a(href=beersku.beer.url) #{beersku.beer.name}
  p #[strong Packaging: ]
  ul 
    li Type: #{beersku.packaging.type}
    li Volume: #{beersku.packaging.volume_oz} oz (#{beersku.packaging.volume_ml} ml)
    li Quantity: #{beersku.packaging.quantity}
  p #[strong Price: ] $#{beersku.price}
  p #[strong Stock Count: ] #{beersku.stock}
  hr
  p
    a(href=beersku.url + "/delete") Delete Beer SKU
  p
    a(href=beersku.url + "/update") Update Beer SKU
