extends layout 

block content
  h1 #{title}
  if brewery_beers.length
    p #[strong You must delete all beers made by this brewery before you can delete this brewery.]
    h3 Beers from this brewery:
    ul 
      each beer in brewery_beers
        li
          a(href=beer.url) #{beer.name}
  else 
    p #[strong Are you sure you want to delete this brewery?]
    p #[strong ID]: #{brewery._id}
    form(method="POST")
      div.form-group
        input(type="hidden" name="breweryid" value=brewery._id)
      button(type="submit") Delete
