extends layout

block content 
  h1 Brewery Detail: #{brewery.name}

  p #[strong Name: ] #{brewery.name}
  p #[strong Location: ] #{brewery.city}, #{brewery.state}, #{brewery.country}
  p #[strong Description: ] #{brewery.description}
  p
    a(href=brewery.url + "/delete") Delete Brewery
  p
    a(href=brewery.url + "/update") Update Brewery

  div.brewery-beers-container
    h2 Beers 
    hr
    if brewery_beers.length > 0
      ul
        each beer in brewery_beers
          li
              a(href=beer.url) #{beer.name}
              | , #{beer.type.name}
    else
      p There are no beers from this brewery.