extends layout

block content 
  h1 Beer Type: #{type.name}
  p #[strong Name]: #{type.name}
  p
    a(href=type.url + "/delete") Delete Beer Type
  p
    a(href=type.url + "/update") Update Beer Type

  div.type-beers-container
    h2 Beers of this Type
    hr
    ul
      each beer in type_beers
        li
            a(href=beer.url) #{beer.name}
            | , #{beer.brewery.name}